<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hunsy.pointshop.mapper.ModalMapper">
    <resultMap id="BaseResultMap" type="com.hunsy.pointshop.entity.Modal">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="app_id" property="appId" jdbcType="BIGINT"/>
        <result column="created_by" property="createdBy" jdbcType="BIGINT"/>
        <result column="event_id" property="eventId" jdbcType="BIGINT"/>
        <result column="serial_id" property="serialId" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="get_condition" property="getCondition" jdbcType="INTEGER"/>
        <result column="icon" property="icon" jdbcType="VARCHAR"/>
        <result column="unget_icon" property="ungetIcon" jdbcType="VARCHAR"/>
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP"/>
        <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP"/>
        <result column="valid" property="valid" jdbcType="TINYINT"/>
        <result column="get_condition_words" property="getConditionWords" jdbcType="LONGVARCHAR"/>
        <result column="stimulate_words" property="stimulateWords" jdbcType="LONGVARCHAR"/>
    </resultMap>
</mapper>